@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: rgb(54, 55, 55);
    font-family: "Josefin Sans",
        Arial,"游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background: #f5f2e9;
}



/* リセットここまで */



header {
    max-width: 95%;
    margin: 0 auto;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* .TY {
    width: 80px;
    height: 50px;
    margin-top: 15px;
} */

.btn {
    width: 50px;
    height: 50px;
    /* border: 1px solid rgb(54, 55, 55); */
    border-radius: 3px;

    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 888;
}

.btn span {
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: #4f260b;
    top: 50%;
    right: 30%;
    transition: translate(-50%,-50%);
    position: absolute;
    transition: 0.3s;
}

.btn span:nth-of-type(1){
    top: 15px;
}

.btn span:nth-of-type(2){
    top: 23px;
}

.btn span:nth-of-type(3){
    top: 31px;
    transform:rotate()
}


.btn.is-active span:nth-of-type(1){
    top: 23px;
    transform: rotate(45deg);
}

.btn.is-active span:nth-of-type(2){
    background: transparent;
}

.btn.is-active span:nth-of-type(3){
    top: 23px;
    transform: rotate(135deg);
}



#btn-menu {
    width: 100%;
    height: 30vh;
    /* background-color: #f5f2e9; */
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 777;
}


#btn-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    transform: scale(0.1);
    background: linear-gradient(to bottom left, #fff,#f1e2be, hwb(43 47% 3%));
    right: -150px;
    top: -150px;
    border-radius: 50%;
    transition: 0.3s;
}


#btn-menu.is-active::after {
    transform: scale(1);
}


#btn-menu ul {
    position: absolute;
    top: 60%;
    right: 3%;
    transform: translate(-50%,-50%);

    list-style: none;
    text-align: right;
    z-index: 1;
}

#btn-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(54, 55, 55);
    padding: 10px;
    font-size: 21px;
}



#btn-menu ul li a img {
    height: 24px;
}

.x-icon img {
    width: 15px;
    align-items: right;
    margin-right: 20%;
}

#btn-menu.is-active {
    top: 0;
}





/* works */

.works-list {
    display: flex;
    justify-content: center;  
}

ul.tab-btn {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 31.8%;
    /* margin-left: 34%; */
    gap: 17px;
}

.tab-text {
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
        width: 96px;
        display: inline-block;
        background-color: #fff;
        color: rgb(54, 55, 55);
        text-align: center;
        padding: 15px 0;
        border-radius: 50px;
        border-color: hwb(43 47% 3%);
        border-width: 1px;
        border-style: solid;
        /* margin-top: 40px;
        margin-left: 5%;
        line-height: 35px; */
    transition: background-color 0.4s ease-in-out;
}

.tab-text:hover {
    background-color: hwb(43 47% 3%);
}





.works-all {
    display: flex;
    justify-content: space-between;
    /* margin-top: 108px; */
    /* gap: 58px 139px; */
    gap: 30px 5%;
    width: 73.2%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.works-all li {
    width: 29.3%;
    /* margin: 0 auto; */
}

.works-wrap {
    margin-top: 100px;
}

/* .works-top img {
    display: table;
    margin: 0 auto;
    width: 140px;
} */

.works-top {
    margin-top: 10px;
    /* max-width: 1366px; */
    text-align: center;
    font-size: 48px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: rgb(54, 55, 55);
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 21px;
}


.works-contents {
    margin-top: 100px;
}

.works-contents {
    /* max-width: 73.2%; */
    /* width: 73.2%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-right: 183px; */
    /* margin-left: 183px; */



}

.works-contents img {
    width: 100%;
    box-shadow: 1px 1px 15px rgb(255 193 7 / 28%);
    /* box-shadow: 8px 6px 5px rgb(255 193 7 / 28%); */
}


.works-contents img:hover{ 
	opacity:0.8;
	transition:0.3s;
}


.works-contents {
    display: flex;
    justify-content: space-between;
}

.contents-texttop {
    font-size: 15px;
    margin-top: 28px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.contents-text {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 68px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


li {
    list-style: none;
}


.works-btn {
    text-align: center;
}

.all-works-btn {
    margin-top: 97px;
    max-width: 1366px;
    text-align: center;
    font-size: 21px;
    width: 150px;
    display: inline-block;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 50px;
    border-color: hwb(188 17% 36%);
    border-width: 1px;
    border-style: solid;
    margin-top: 40px;
    /* margin-left: 5%; */
    line-height: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    transition: background-color 0.4s ease-in-out;
}


.all-works-btn:hover {
    background-color: hwb(188 17% 36%);
}


/* バックボタン */


.back-back {
    margin-top: 97px;
    max-width: 1366px;
    text-align: center;
    font-size: 21px;
    width: 120px;
    display: inline-block;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 50px;
    border-color: hwb(188 17% 36%);
    border-width: 1px;
    border-style: solid;
    margin-top: 40px;
    margin-left: 5%;
    line-height: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    transition: background-color 0.4s ease-in-out;
}


.back-back:hover {
    background-color: hwb(188 17% 36%);
}

.back-btn {
    text-align: center;
    margin-top: 70px;
}




/* footer */

.footer-img img {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 180px;
}

.footer-wrap {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(54, 55, 55);
    background: url(../images/footer.jpg) no-repeat center center/cover;
    background-size: cover;
    height: 355px;
    width: 100%;
    margin-top: 74px;

}

.footer-text {
    margin-top: 133px;
    margin-left: 183px;
    font-size: 21px;
    transform-origin: top left;
    transform: scale(1.05, 1);
    position: absolute;
}

.footer-text-psite {
    margin-top: 25px;
}



.footer-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0px;
    margin-right: 183px;
    max-width: 374px;
    /* justify-content: center;   */
}

.footer-nav-btn {
    margin-top: 133px;
    display: flex;
    justify-content: space-between;
    width: 31.8%;
    /* margin-left: 34%; */
    gap: 97px;
}

.footer-nav-in {
    text-align: right;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 21px;
    font-style: normal;
    /* transform-origin: top left;
    transform: scale(1.05, 1); */
}


.footer-area {
    position: absolute;
    margin-top: 266px;
    /* text-align: center; */
    width: 100%;
}

.footer-last {
    text-align: center;
    font-size: 21px;
    /* transform-origin: top left; */
    /* transform: scale(1.05, 1); */
    /* padding: 0 50; */
    right: 569px;
}

/* page top */

.pagetop {
    width: 70px;
    position: fixed;
    /* bottom: 158px; */
    bottom: 42px;
    right: 42px;
}



  /* スムーススクロール */

  html {
    scroll-behavior: smooth;
}